@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES ------------------------------------ */

html {
  scroll-behavior: smooth;
}

body {
  --primary-color: #5c7a50;
  --primary-text-color: #f0e0c5;
  --secondary-text-color: #e1c9a3;
  --primary-background-color: #0e130a;
  --secondary-background-color: #1a2415;
  font-family: "Nunito", serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.button-positiv,
.button-negativ {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.button-positiv {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.button-positiv:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button-negativ {
  background-color: transparent;
  color: var(--primary-color);
}

.button-negativ:hover {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.main-header {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}

.navigation,
.navigation-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.navigation-item {
  color: var(--primary-text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: color 0.2s ease-in-out;
}

.navigation-item:hover {
  color: var(--primary-color);
}

/* SPECIFIC STYLES ---------------------------------- */

.hero-section {
  display: flex;
  height: calc(100vh - 5rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 10%,
      rgba(0, 0, 0, 0.8) 80%
    ),
    url(./img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--secondary-text-color);
}

.hero-link {
  margin-top: 4rem;
}

.about {
  display: grid;
  gap: 2rem;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-text .main-header {
  margin: 2rem 0 1rem 0;
}

.we-are {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.about-link {
  margin: 2rem 0 1rem 0;
}

.about-pics {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  object-fit: cover;
}

.pic3filter {
  filter: brightness(0.65) contrast(1.2) sepia(0.45) saturate(0.9)
    hue-rotate(-5deg);
}

.about-pics-single {
  min-width: 50%;
}

.about-pics-double {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-wrapper {
  background-color: var(--secondary-background-color);
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.menu-innercontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-innercontainer .main-header {
  margin-top: 2rem;
}

.menu-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  align-items: stretch;
  justify-content: center;
}

.menu-item {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem #00000033;
  transition: transform 0.2s ease-in-out;
  max-width: 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.menu-item:hover {
  transform: translateY(-0.2rem);
}

.menu-dish {
  font-family: "Uncial Antiqua", serif;
  color: var(--primary-text-color);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.menu-explanation {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  line-height: 1.4;
}

.price {
  display: block;
  color: var(--primary-text-color);
  margin-top: 0.75rem;
  font-weight: bold;
  font-size: 1.7rem;
}

.openhours-wrapper {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/info.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  padding: 2rem 0;
}

.openhours-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 85%;
}

.openhours-content .main-header {
  margin: 0 0 1rem 0;
}

.opening-row {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin: 0 0 0.25rem 0;
}

.day {
  color: var(--secondary-text-color);
}

.contact-innercontainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-pic {
  width: 100%;
  height: 100%;
  min-width: 50%;
  object-fit: cover;
}

.contact-data > .main-header {
  margin: 0 0 1rem 0;
}

.adress {
  margin-top: 0.5rem;
  color: var(--secondary-text-color);
}

.contact-menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  background-color: var(--secondary-background-color);
  gap: 1rem;
}

.navigation-foot {
  flex-direction: column;
  gap: 1rem;
}

.copyright {
  color: var(--secondary-text-color);
  margin-top: 1rem;
}

/* MEDIA QUERIES ------------------------------------- */
/* Tablets */
@media screen and (min-width: 600px) {
  .button-positiv,
  .button-negativ {
    padding: 1.2rem 2.5rem;
  }

  .navigation,
  .navigation-foot {
    gap: 2rem;
    font-size: 1rem;
  }

  .navigation-foot {
    height: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .herolink {
    padding: 1.2rem 2.5rem;
  }

  .we-are {
    font-size: 1rem;
  }

  .openhours {
    margin: 4rem 0;
  }

  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-explanation {
    font-size: 1rem;
  }

  .contact-innercontainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-pic {
    width: 60%;
  }

  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }

  .navigation-foot {
    flex-direction: row;
  }
}

/* Normal Computer */

@media screen and (min-width: 1000px) {
  .navigation {
    gap: 4rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .main-header {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 6rem;
  }

  .we-are {
    font-size: 1.2rem;
  }

  .about-pics,
  .about-pics-double {
    gap: 1rem;
  }

  .menu-wrapper {
    padding-bottom: 4rem;
  }

  .menu-dish {
    font-size: 1.8rem;
  }

  .menu-explanation {
    font-size: 1.1rem;
  }

  .price {
    font-size: 1.8rem;
  }

  .openhours-wrapper {
    /* margin: 8rem 0; */
    padding: 6rem 0;
  }

  .content .main-header {
    margin-bottom: 2rem;
  }

  .opening-row {
    width: 20rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .menu-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-pic {
    width: 50%;
  }

  .contact-data .main-header {
    margin-bottom: 2rem;
  }

  .adress {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .contact-menu {
    flex-direction: row;
  }

  .footer {
    margin-top: 6rem;
  }

  .navigation-foot {
    gap: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
